body {
    color: #8da05b;
    background-color: #ffffff;
    font-family: 'Droid Sans';
    font-size: 1.5em;
    margin: 0;
}

h1 {
    color: #38373a;
    font-family: 'Pacifico';
}

.accent-primary {
    background-color: #e7f1ae;
}

.accent-secondary {
    color: #cf6626;
}

/* Header */

div#header {
    height: 122px !important;
    margin: auto;
    border-bottom: 1px solid #e7f1ae;
    position: fixed;
    width: 100%;
    background-color: #ffffff;
}

.logo {
    background-color: #e8b85b;
    width: 250px;
    margin-left: 80px;
    float: left;
    padding-bottom: 9px;
}

.logo h1 {
    text-align: center;
    margin: 0;
}

.logo .subtext {
    color: #ffffff;
    text-align: center;
}

.navbar {
    float: right;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
}

.navbar ul li {
    display: inline-block;
    color: #38373a;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 52px;
    padding-bottom: 52px;
}

.navbar ul li.active:after {
    content: '';
    display: block;
    position: relative;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #e7f1ae;;
    top: 100%;
    left: calc(50% - 10px);
    margin-top: 22px;
}

.navbar ul li:hover:after {
    content: '';
    display: block;
    position: relative;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #e7f1ae;;
    top: 100%;
    left: calc(50% - 10px);
    margin-top: 22px;
}

.navbar ul li a {
    color: #38373a;
    text-decoration: none;
}

/* Content */

div#content {
    padding-top: 122px;
    line-height: 30pt;
}

a {
    color: #cf6626;
}

img.banner {
    width: 100%;
}

section#main {
    width:1024px !important;
    margin: auto;
    text-align: center;
}

h1#title {
    font-size: 2em;
    margin: -20px;
}

h1#title:before {
    margin-right: 50px;
    content: " ";
    transform: rotate(85deg);
    width: 60px;
    height: 150px;
    display: inline-block;
    background-image: url('/img/takje.png');
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    position: relative;
    z-index: -1;
}

h1#title:after {
    margin-left: 50px;
    content: " ";
    transform: rotate(260deg);
    width: 60px;
    height: 150px;
    display: inline-block;
    background-image: url('/img/takje.png');
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    position: relative;
    z-index: -1;
}

/* Program */
div.program-item p {
    margin: 0;
    color: #cf6626;
}

div.program-item img {
    filter: invert(46%) sepia(78%) saturate(649%) hue-rotate(343deg) brightness(86%) contrast(86%);
}

/* Footer */
div#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
}

div#footer img {
    float: right;
    margin-right: -200px;
}