<div id="header">
    <a href="/">
        <div class="logo">
            <h1>Bruiloft</h1>
            <div class="subtext">
                Tonke
                &amp;
                Jonathan
            </div>
        </div>
    </a>
    <nav class="navbar">
        <ul>
            {{ $current := . }}
            {{ range .Site.Menus.main }}
                {{ $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) }}
                {{ $active = or $active (eq .Name $current.Title) }}
                <li class="{{ if $active }}active{{ end }}"><a href="{{ .URL }}">{{- .Name -}}</a></li>
            {{ end }}
        </ul>
    </nav>
</div>