<div id="header">
    <a href="/">
        <div class="logo">
            <h1>Bruiloft</h1>
            <div class="subtext">
                Tonke<br/>
                &amp;</br>
                Jonathan
            </div>
        </div>
    </a>
    <nav class="navbar">
        <ul>
            {{ $current := . }}
            {{ range after 1 .Site.Menus.nav }}
                {{ $active := or ($current.IsMenuCurrent "nav" .) ($current.HasMenuCurrent "nav" .) }}
                {{ $active = or $active (eq .Name $current.Title) }}
                <li class="{{ if $active }}active{{ end }}"><a href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
        </ul>
    </nav>
</div>