body {
    color: #8da05b;
    background-color: #ffffff;
    font-family: 'Droid Sans';
    margin: 0;
}

h1 {
    color: #38373a;
    font-family: 'Pacifico';
}

.accent-primary {
    background-color: #e7f1ae;
}

.accent-secondary {
    color: #cf6626;
}

/* Header */

#header {
    height: 122px !important;
    margin: auto;
    border-bottom: 1px solid #8da05b
}

.logo {
    background-color: #e8b85b;
    width: 140px;
    margin-left: 80px;
    padding-bottom: 10px;
    float: left;
}

.logo h1 {
    text-align: center;
    margin: 0;
}

.logo .subtext {
    color: #ffffff;
    text-align: center;
}

.navbar {
    float: right;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
}

.navbar ul li {
    display: inline-block;
    color: #38373a;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 52px;
    padding-bottom: 52px;
}

.navbar ul li.active:after {
    content: '';
    display: block;
    position: relative;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #8da05b;
    top: 100%;
    left: calc(50% - 10px);
    margin-top: 32px;
}

.navbar ul li a {
    color: #38373a;
    text-decoration: none;
}

/* Content */

#content {
    width:1024px !important;
    margin:auto;
}

img.banner {
    height: 250px;
}